@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    overflow-y: scroll;
    @apply dark:text-gray-200;
  }

  .section {
    @apply max-w-screen-xl mx-auto px-4 my-12 md:my-20;
  }

  table, td, th {
    @apply border dark:text-gray-300;
  }

  th, td {
    @apply px-4 py-2;
  }

  th {
    @apply w-1/12;
  }

  tr > td:nth-child(2n+2) {
    @apply font-bold;
  }

  tr:nth-child(2n+1) {
    @apply bg-violet-400 dark:bg-violet-700;
  }

  tr:nth-child(2n) {
    @apply bg-violet-300 dark:bg-violet-500;
  }
}

@layer utilities {
  .active1 {
    @apply !bg-violet-700 !text-white;
  }

  .pending {
    @apply bg-red-400 text-white;
  }
}